<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.szk.mapper.RoleMapper">

    	<select id="getRole" resultType="role" parameterType="Long">
    		select id, roleName, note from role where id = #{id}
    	</select>
    	
    	<delete id="deleteRole">
    		delete from role where id = #{id}
    	</delete>
    	
    	<insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyProperty="id">
    		insert into role (roleName, note) values(#{roleName}, #{note})
    	</insert>

		<update id="updateRole" parameterType="role">
			update role set roleName=#{roleName}, note=#{note} where id=#{id}
		</update>
		
    	<select id="listRoles" resultType="role">
    		select id, roleName, note from role
    		<where>
    			<if test="null != roleName">
    				roleName like concat('%',#{roleName},'%')
    			</if>
    			<if test="null != note">
    				note like concat('%',#{roleName},'%')
    			</if>
    		</where>
    	</select>
    	
</mapper>